@{
    ViewData["Title"] = "Welcome to Gym Tracker!";
}

<div class="container my-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Welcome to Gym Tracker</h1>
            <p class="lead">
                Gym Tracker to nowoczesna aplikacja webowa, która upraszcza i systematyzuje rejestrowanie postępów treningowych.
                Dzięki intuicyjnemu interfejsowi możesz łatwo zapisywać swoje wyniki, zarządzać ćwiczeniami i monitorować efekty swojej pracy.
            </p>
            <p>
                Dołącz do Gym Tracker już dziś i zacznij śledzić swoje postępy, osiągając nowe cele treningowe!
            </p>
        </div>
    </div>
</div>